/*
* @Author: xhb
* @Date:   2016-11-17 20:46:13
* @Last Modified by:   xhb
* @Last Modified time: 2016-11-18 11:07:20
*/
.footer {
  height: 60px;/*footer的高度*/
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  background-color: #DDDDDD;
  margin: 10px 20px 10px 20px;
}


